{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <div class="container">
    <h1>Product</h1>

    <table class="table">
        <tbody>

            <tr>
                <th class="text-black-50">Product Name</th>
                <td class="text-black-50">{{ product.ProductName }}</td>
            </tr>
            <tr>
                <th class ="text-black-50">About</th>
                <td class="text-black-50">{{ product.ProductDescription }}</td>
            </tr>
            <tr>
                <th class="text-black-50">Price</th>
                <td class="text-black-50">{{ product.ProductPrice }}TND</td>
            </tr>

            <tr>
                <td> <img height="400" width="400"  src="{{app.request.basepath}}/uploads/{{product.image}}" alt=""></td>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('store') }}">back to list</a>


    </div>
{% endblock %}
