<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">
        <!-- mobile metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <!-- bootstrap css -->
            <link rel="stylesheet" href="{{ asset('FrontOffice/css/bootstrap.min.css') }}">
            <!-- style css -->
            <link rel="stylesheet" href="{{ asset('FrontOffice/css/style.css') }}">
            <!-- Responsive-->
            <link rel="stylesheet" href="{{ asset('FrontOffice/css/responsive.css') }}">
            <!-- fevicon -->
            <link rel="icon" href="{{ asset('FrontOffice/images/favicon.png') }}" type="image/gif" />
            <!-- Scrollbar Custom CSS -->
            <link rel="stylesheet" href="{{ asset('FrontOffice/css/jquery.mCustomScrollbar.min.css')}}">
            <!-- Tweaks for older IEs-->
            <link rel="stylesheet" href="{{ asset('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css') }}">
            <!-- owl stylesheets -->
            <link rel="stylesheet" href="{{ asset('FrontOffice/css/jquery.mCustomScrollbar.min.css')}}">

            <link rel="stylesheet" href="{{ asset('FrontOffice/css/owl.carousel.min.css') }}">
            <link rel="stylesheet" href="{{ asset('FrontOffice/css/owl.theme.default.min.css') }}">
            <link rel="stylesheet" href="{{ asset('FrontOffice/css/cards.css') }}">

            <link rel="stylesheet" href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css') }}" media="screen">
        {% endblock %}


    </head>
    <body>
    <div class="header_section">
      <nav class="navbar navbarpfixed navbar-expand-lg navbar-light bg-light">
         <div class="logo"><a href="/home"><img src="{{ asset('FrontOffice/images/logo.png') }}"></a></div>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item active">
                  <a class="nav-link" href="/home">Home</a>
               </li>
               {% if app.user %}
               <li class="nav-item">
                  <a class="nav-link" href="{{ path('profile', {'username': app.user.username})}}">Profile</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/logout">Logout</a>
               </li>
                    {% if 'ROLE_ADMIN' in app.user.roles %}
                        <li class="nav-item">
                            <a class="nav-link" href="/back">AdminTAB</a>
                        </li>
                    {% endif %}
               {% else %}
               <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/register">Register</a>
               </li>
                   <li class="nav-item">
                       <a class="nav-link" href="/product">Product</a>
                   </li>
               {% endif %}
               
               <li class="nav-item">
                  <a class="nav-link" href="#"><img src="{{ asset('FrontOffice/images/search-icon.png') }}"></a>
               </li>
            </ul>
         </div>
      </nav>
      <!-- header section end -->
      <!-- banner section start -->
      <div id="main_slider" class="carousel slide" data-ride="carousel">
         <div class="carousel-inner">
            <div class="carousel-item active">
               <div class="banner_section">
                  <div class="container">
                  {% if app.user %}
                        <div class="box_main active">
                        <div class="icon_1"><img src="{{ asset('FrontOffice/images/icon-3.png') }}"></div>
                        <h4 class="daily_text_1">Welcome {{ app.user.username }} Enjoy Your Stay </h4>
                        </div>
                        {% endif %}
                     <div class="row">
                         <div class="col-md-6">
                             <h1 class="banner_taital">Health <br><span style="color: #151515;">Care</span></h1>
                             <p class="banner_text">There are many variations of passages of Lorem Ipsum</p>
                             <div class="btn_main">
                                 <div class="more_bt"><a href="#">Contact Now</a></div>
                                 <div class="contact_bt"><a href="#">Get A Quote</a></div>
                             </div>
                         </div>
                         <div class="col-md-6">
                             <div class="image_1"><img src="{{ asset('FrontOffice/images/img-1.png') }}"></div>
                         </div>
                     </div>
                            {% block home1 %}
        {% endblock %}
         {% block body %}
        {% endblock %}
        {% block edit %}
        {% endblock %}

                  </div>
               </div>
            </div>
            
         </div>
         
      </div>
   </div>
    <div>
        
    </div>
    
    <footer>
    <div class="footer_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="footer_logo"><a href="/home"><img src="{{ asset('images/footer-logo.png') }}"></a></div>
                    <h1 class="adderss_text">Contact Us</h1>
                    <div class="map_icon"><img src="{{ asset('FrontOffice/images/map-icon.png') }}"><span class="paddlin_left_0">Page when looking at its</span></div>
                    <div class="map_icon"><img src="{{ asset('FrontOffice/images/call-icon.png') }}"><span class="paddlin_left_0">+7586656566</span></div>
                    <div class="map_icon"><img src="{{ asset('FrontOffice/images/mail-icon.png') }}"><span class="paddlin_left_0">volim@gmail.com</span></div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h1 class="adderss_text">Doctors</h1>
                    <div class="hiphop_text_1">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,</div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h1 class="adderss_text">Useful Links</h1>
                    <div class="Useful_text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered ,</div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h1 class="adderss_text">Newsletter</h1>
                    <input type="text" class="Enter_text" placeholder="Enter your Emil" name="Enter your Emil">
                    <div class="subscribe_bt"><a href="#">Subscribe</a></div>
                    <div class="social_icon">
                        <ul>
                            <li><a href="#"><img src="{{ asset('FrontOffice/images/fb-icon.png') }}"></a></li>
                            <li><a href="#"><img src="{{ asset('FrontOffice/images/twitter-icon.png') }}"></a></li>
                            <li><a href="#"><img src="{{ asset('FrontOffice/images/linkedin-icon.png') }}"></a></li>
                            <li><a href="#"><img src="{{ asset('FrontOffice/images/instagram-icon.png') }}"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer section end -->
    </footer>

        {% block javascripts %}
            <!-- Javascript files-->
            <script src="{{ asset('FrontOffice/js/jquery.min.js') }}"></script>
            <script src="{{ asset('FrontOffice/js/popper.min.js') }}"></script>
            <script src="{{ asset('FrontOffice/js/bootstrap.bundle.min.js') }}"></script>
            <script src="{{ asset('FrontOffice/js/jquery-3.0.0.min.js') }}"></script>
            <script src="{{ asset('FrontOffice/js/plugin.js') }}"></script>
            <!-- sidebar -->
            <script src="{{ asset('FrontOffice/js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
            <script src="{{ asset('FrontOffice/js/custom.js') }}"></script>
            <!-- javascript -->
            <script src="{{ asset('FrontOffice/js/owl.carousel.js') }}"></script>
            <script src="{{ asset('https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js') }}"></script>
        {% endblock %}
    </body>
</html>